:root {
    --square-size : 55.3125px;
    --gap: 5px;
    --container-size: 960px;
}
body {
    height: 100vh;
    display: flex;
    margin: 0; /* Rimuove eventuali spazi bianchi ai bordi */
    flex-direction: column;
    justify-content: space-between;
}

.header {
    display: flex;
    justify-content: center; 
    background-color: black; 
    color: white;
}



.content {
    display: flex;
    flex-direction: column;
    align-items: center;
}


.footer{
    display: flex;
    padding: 20px;
    background-color: #eeeeee;
  
  }
.container {
    width: var(--container-size);    
    height: var(--container-size);
    display: flex;
    flex-wrap: wrap;
    gap: var(--gap);

}

.square{
    width: var(--square-size);
    height: var(--square-size);
    color: black;
    background-color: bisque;
}